html,
body {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}

#phone-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px;
}

.phone-card {
  width: 400px;
  padding: 20px;
  margin: 10px;
  background-color: rgb(247, 247, 247);
  border-radius: 15px;
  border: 0 solid none;
}

.phone-card:hover {
  box-shadow: 15px 15px 30px #c8cfd9,
  -15px -15px 30px #e0faff;
}

.phone-index-picture {
  height: 300px;
}
