html,
body {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}

#phone-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px;
}

.phone-card {
  width: 400px;
  padding: 20px;
  margin: 10px;
  background-color: rgb(247, 247, 247);
  border-radius: 15px;
  border: 0 solid none;
}

a, a:hover{
  text-decoration: none;

}

.phone-card:hover {
  box-shadow: 15px 15px 30px #c8cfd9,
  -15px -15px 30px #e0faff;
  transition: 1.5s
}

.phone-index-picture, .phone-detail img {
  height: 300px;
  object-fit: contain;
}

.phone-detail{
  border: 1px solid rgb(201, 200, 200);
  border-radius: 15px;
  box-shadow: 15px 15px 30px #c8cfd9,
  -15px -15px 30px #e0faff;
  max-width: 400px;
}
.phone-details-row{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.phone-details-row p {
  margin-right: 5px;
}

.detail-info{
  margin: 20px;
}

.card-column{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-italic{
  font-style: italic;
  color: grey
}
